.form-filter {
    display: flex;
    flex-flow: row wrap;

    .group-item-form {
        width: 25%;
        margin: 0.5% 0.5%;

        label {
            display: block;
        }

        input{
            height: 32px;
            width: 100%;
        }

        input[type="submit"] {
            margin-top: 18px;
        }

        &.group-small {
            width: 15%;
        }
        
        &.group-large {
            width: 40%;
        }
    }
}

.link-export-slm-csv {
    display: flex;
    justify-content: flex-end;

    a {
        background-color: var(--midtone);
        color: #fff;
        padding: 10px 20px;
        font-weight: bold;
        margin-right: 2%;
    }
}