<!-- ************************* -->
<!-- Imagem grande do topo da página -->
<div class="oquesao-img">
 <img src="{{media url=&quot;banner-slm-saiba-mais.jpg&quot;}}" alt="">
</div>


<!-- ************************* -->
<!-- O QUE SÃO OS SLMs? -->
<div class="oquesao-slm">
  <div class="title">O QUE SÃO OS SLMs?</div>
  <div class="content">
    <img src="{{media url=&quot;exemplo-de-slms.jpg&quot;}}" alt="" />
    <div class="text">
      <p>SLM significa Student Learning Material (Material de Aprendizagem do Aluno). Baseado na bem-sucedida Metodologia Canadense de Ensino e Aprendizagem, reconhecida entre as melhores do mundo, é um material de apoio à aprendizagem ativa, exclusivo da Maple Bear. Além dos itens pessoais de cada aluno, o SLM também abrange extensa diversidade de estratégias e recursos utilizados por professores e alunos em sala de aula.</p>
      <p>A Maple Bear, seguindo as melhores práticas recomendadas pela UNESCO, utiliza matéria-prima proveniente de áreas de manejo florestal responsável em todos os seus materiais impressos.</p>
    </div>
  </div>
</div>



<!-- ************************* -->
<!-- Evolução ano a ano -->
<div class="evolucao-ano">
  <div class="title">Evolução ano a ano  <img src="{{media url=&quot;icone_evolucao_slm.png&quot;}}" alt="" /></div>
  <div class="text">Todos os anos, a Maple Bear, se dedica a aprimorar estes materiais, ampliando, modificando e melhorando seus conteúdos e formatos. Por isso, regularmente realizamos uma pesquisa aprofundada para entender cada ponto de melhoria nos SLMs, e não existe ninguém melhor para nos dar este feedback do que quem convive em sala de aula no dia a dia. E em 2021 não será diferente. Aguarde por muitas novidades.</div>
  <a class="link" href="">Responda à nossa pesquisa aqui</a>
</div>

<!-- ************************* -->
<!-- video-frame -->
<div class="video-frame">
  <iframe width="1124" height="790" src="https://www.youtube.com/embed/B2IBH26D0rw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!-- ************************** -->
<!-- GRID YOUTUBE -->
<div class="grid-videos">

  <div class="title"><span class="text">Vídeos</span></div>
  <div class="subtitle">Saiba mais sobre os componentes do material:</div>

  <div class="video-grid-4">
    <!-- Early Toddler -->
    <iframe width="260" height="148" src="https://www.youtube.com/embed/fVr1u5kMaPA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- Toddler -->
    <iframe width="260" height="148" src="https://www.youtube.com/embed/-db3V9OPpgg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- Nursery -->
    <iframe width="260" height="148" src="https://www.youtube.com/embed/mxSRrPDuf0k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- Video novo -->
    <iframe width="260" height="148" src="https://www.youtube.com/embed/XjxMJBmxZrk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="video-grid-4">
    <!-- Nursery -->
    <iframe width="260" height="148" src="https://www.youtube.com/embed/mxSRrPDuf0k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- IK -->
    <iframe width="260" height="148" src="https://www.youtube.com/embed/vOiEQEt4Nf0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- JK -->
    <iframe width="260" height="148" src="https://www.youtube.com/embed/PRZpX6GLucc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- Middle Years -->
    <iframe width="260" height="148" src="https://www.youtube.com/embed/YS2kEWeMB68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>



<!-- ************************************************** -->
<!--  Compre o material do seu filho hoje mesmo e garanta A EXPERIÊNCIA completa.  -->
<div class="comprar-slm">
  <img src="{{media url=&quot;aluna-manipulando-slm-.jpg&quot;}}" alt="" />
  <div class="content">
    <div class="title">Compre o material do seu filho hoje mesmo e garanta A EXPERIÊNCIA completa.</div>
    <a class="link" href="">Comprar slm</a>
  </div>
</div>




<!-- ************************** -->
<!-- DUVIDAS FREQUENTES -->
<div class="duvidas-box">
  <div class="title">DÚVIDAS FREQUENTES</div>
  <div class="list"> 

    <!-- Por que preciso comprar o SLM? -->
    <div class="item" is="dropdown-element">
      <div class="question">Por que preciso comprar o SLM?</div>
      <div class="content">
        Os SLMs são os materiais que garantem a execução do Programa Maple Bear e apoiam o processo de ensino-aprendizagem dos alunos, por isso a importância da aquisição.
      </div>
    </div>

    <!-- Como conferir o status do pedido ? -->
    <div class="item" is="dropdown-element">
      <div class="question">Como conferir o status do pedido?</div>
      <div class="content">
        1- Faça seu login em “Minha conta”e após isso selecione “Entre”. <br>
        2- No painel “Clientes registrados”, preencha o seu e-mail e senha e clique em “Entrar”. <br>
        3- Clique em “Meus pedidos”; <br>
        4- Nesta tela você poderá visualizar todos os pedidos que você já realizou. Caso queira visualizar informações do pedido, clique em “Visualizar Pedido”.
      </div>
    </div>

    <!-- Como comprar na Maple Bear Store? -->
    <div class="item" is="dropdown-element">
      <div class="question">Como comprar na Maple Bear Store?</div>
      <div class="content">
        1- Acesse o site www.maplebearstore.com.br  <br>
        2-Se você já realizou alguma compra ou já possuí cadastro, acesse sua conta com o cadastro já existente. Se é sua primeira compra, crie seu cadastro completando todas as informações necessárias; <br>
        3- Selecione o SLM correspondente à série de seu filho bem como o respectivo ano letivo. Confira o SLM selecionado e certifique-se de que é para uso no ano letivo correto e que realmente corresponde à série que seu filho cursará; <br>
        4- Selecione o nome do seu filho e o ano letivo em que ele usará o material; <br>
        5- Siga para o “carrinho de compras” e clique em “Finalizar Compra”. <br>
        6- Confira no carrinho de compras se as informações de entrega coincidem com o endereço da escola de seu filho. Caso não coincida, entre em contato com o suporte aos pais disponível na parte inferior da página, para que seja alterada a escola de destino; <br>
        7- Para finalizar a compra, confirme seus dados e selecione a forma de pagamento, que poderá ser cartão de crédito ou boleto bancário; <br>
        8- Selecione o número de parcelas em caso de cartão de crédito (1 à 6 parcelas); <br>
        9- Finalize o pedido.
      </div>
    </div>

  </div>
</div>


<!-- ************************** -->
<!-- BANNER GRID -->
<div class="bannergrid-slm">

  <div class="title"><span class="text">Novidades slm DO 2021</span></div>

  <div class="grid">
    <!-- Manter as imagens nessa ordem e com os respectivos tamanhos de width e height -->
   
    <!-- img-aluno  /  width="360" height="440"-->
    <img class="img-alunos" src="{{media url=&quot;img-aluno.png&quot;}}" alt="" />

    <!-- Conteudo hibrido  /  width="360" height="220" -->
    <img class="hibrido" src="{{media url=&quot;hibrido.png&quot;}}" alt="" />
    
    <!-- NOVOs recursos para YEAR 10  /  width="360" height="220" -->
    <img class="recursos" src="{{media url=&quot;recursos.png&quot;}}" alt="" />

    <!-- Mais moderno  /   width="720" height="220" -->
    <img class="moderno" src="{{media url=&quot;moderno.png&quot;}}" alt="" />

    <!-- Maplebear Vinhedo  /  width="720" height="220"-->
    <img class="img-vinhedo" src="{{media url=&quot;img-vinhedo.png&quot;}}" alt="" />

    <!-- Maplebear slm  /  width="360"  height="220" -->
    <img class="img-slm" src="{{media url=&quot;img-sml.png&quot;}}" alt="" />

    <!-- portfólio MIDDLE YEARS  /  width="360" height="440" -->
    <img class="portfolio" src="{{media url=&quot;portfolio.png&quot;}}" alt="" />

    <!-- Engajamento familiar  /  width="360" height="220" -->
    <img class="engajamento" src="{{media url=&quot;engajamento.png&quot;}}" alt="" />
  </div>
  

</div>
<!-- O js esta em maplebear/Magento_Theme/templates/end-scripts.phtml -->