/* TODO - move to layout */
.page-layout-2columns-left {
  .sidebar-main,
  .sidebar-additional {
    width: 24.833333%;
    padding-right: 2%;
  }
  .column.main {
    width: 75.166667%;
  }
}
body[class*="catalog"] {
  .columns {
    @media(max-width: 520px) { 
      padding-top: 76px;
  
      .sorter {
        position: relative;
      }
    }
  }

  .sidebar-additional {
    .block-compare,
    .block-reorder,
    .block-wishlist {
      display: none;
    }
    .banner {
      @media (max-width: 767px) {
        display: none;
      }

      li {
        width: 100% !important;
      }
     
      .container {
        padding: 0;
        img {
          border-radius: 30px;
          overflow: hidden;
        }
      }
    }
  }
}


/* */

.block.filter {

  .filter-subtitle {
    display: none;
  }
}

.filter.active .filter-title strong {
  height: auto;
  width: auto;
}

.filter-title {
  strong {
    @media(max-width: 767px) {
      height: 57px;
      border-radius: 57px;
      background: var(--midtone);
      color: var(--brightness);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0;
      width: 124px;
    }
    @media(max-width: 520px) { 
      width: 100%;
    }
  }
}

.filter-options-title, .wk-mp-collection-left .filter-options-title {
  @media(min-width: 768px) {
    word-break: break-word;
    pointer-events: none;
    cursor: default;
    font-weight: var(--bold);
    font-size: 20px;
    color: var(--midtone);
    margin: 0 0 24px;
    overflow: visible;
    padding: 0;
    position: relative;
    text-transform: none;
    word-break: break-all;
    z-index: 1;
    display: block;
    text-decoration: none;
    &::after {
      display: none;
    }
  }
}

.filter-options-item, .wk-mp-collection-left .filter-options-item {
  @media(min-width: 768px) {
    margin-bottom: 30px;
    padding: 34px 34px 24px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgba(10, 10, 10, 0.1);
  }
}


.filter-options-content, .wk-mp-collection-left .filter-options-content {
  @media(min-width: 768px) {
    display: block !important;
    padding: 0;

    > .items {
      padding: 0 14px 0 5px;
      max-height: 322px;
      overflow-y: auto;

      &::-webkit-scrollbar-track {
        background-color: var(--backgrounds);
      }
      &::-webkit-scrollbar {
        width: 11px;
        background: var(--backgrounds);
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        width: 11px;
        background: var(--midtone);
        border-radius: 10px;
      }
    }

    .item {
      margin: 0;
    }

    a {
      font-size: 16px;
      color: var(--highlight);
      padding: 5px;
      display: block;

      .count {
        display: none;
      }
    }
  }
}
